{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet"
          href="{% static 'recipes/pages/single.css' %}"/>{% endblock %}
{% block title %}Фото кошечки{% endblock %}
{% block content %}
    <body class="body">
    <main class="main container">
        <img src="{% static 'about/cat/1.jpg' %}" alt="Кошечка" vspace="30" hspace="30">
        <img src="{% static 'about/cat/2.jpg'  %}" alt="Кошечка" vspace="30" hspace="30">
        <img src="{% static 'about/cat/3.jpg'  %}" width="1075" alt="Кошечка" vspace="30" hspace="30">
        <img src="{% static 'about/cat/4.jpg'  %}" alt="Кошечка" vspace="30" hspace="30">
    </main>
    </body>
{% endblock %}