{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet"
          href="{% static 'recipes/pages/single.css' %}"/>{% endblock %}
{% block title %}Технологии{% endblock %}
{% block content %}
    <body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="single-card__title">Технологии</h1>
        </div>
            <p><font size="5" face="Arial"><b>
                В проекте использованы следующие технологии1:
            </b></font></p>
            <ol>
                {% for type in type_list %}
                    <li>
                        <ul>
                            <p><font size="4" face="Arial"><b>{{ type.0 }}</b></font></p>
                            {% for tech in  type|slice:"1:" %}
                                <li style="margin-bottom:15px;" ,
                                    style="margin-top:10px;">
                                    <font size="4" face="Arial">
                                        {{ tech }}
                                    </font>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ol>
    </main>
    </body>
{% endblock %}