{% extends "base.html" %}
{% load static %}
{% block title %} Новый пароль {% endblock %}
{% load user_filters %}
{% block style %}<link rel="stylesheet" href="{% static 'users/pages/form.css' %}">{% endblock %}
{% block content %}
    {% if validlink %}
        <main class="main container">
            <div class="main__header">
                <h1 class="main__title">Новый пароль</h1>
            </div>
            <div class="form-container">
                <form class="form" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="form__error">
                        Вы ввели некорректные данные, попробуйте ещё.
                    </p>
                {% endif %}
                    {% for field in form %}
                        <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                            <div class="form__field-group">
                                {{ field | addclass:"form__input"}}
                                {% if forloop.first %}
                                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form__footer">
                        <button class="button button_style_blue">Изменить пароль</button>
                    </div>
    {% else %}
        <h1 class="main__title">Ошибка</h1>
        <p class="form__info-text">Ссылка сброса пароля содержит ошибку или устарела.</p>
    {% endif %}
{% endblock %}