{% extends "base.html" %}
{% load static %}
{% block title %} Сброс пороля прошёл успешно {% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'users/pages/form.css' %}">{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Восстановление пароля завершено</h1>
        </div>
        <p class="form__info-text">
            Ваш пароль был сохранен. Теперь вы можете войти.
        </p>
        <div class="form__footer">
            <a href="{% url 'login' %}" class="form__forgot-link">Войти</a>
        </div>
    </main>
{% endblock %}