{% extends "base.html" %}
{% load static %}
{% block title %} Успешное удаление рецепта {% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'recipes/pages/form.css' %}">{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Вы успешно удалили рецепт, поздравляю!</h1>
        </div>
    <p class="form__info-text"><a href="{% url 'profile' user.username %}?breakfast=True&lunch=True&dinner=True">Вернуться на свою страничку</a></p>
    </main>
{% endblock %}