{% extends "base.html" %}
{% block title %} Рецепты в избранном {% endblock %}
{% load static %}
{% load user_filters %}
{% block style %}<link rel="stylesheet" href="{% static 'recipes/pages/index.css' %}"/>{% endblock %}
{% block content %}
{% csrf_token %}
<body class="body">
    <main class="main container">
        <div class="main__header">
            {% if favorites_recipes.count == 0 %}
                <h1 class="main__title">Добавьте рецепт в избранное</h1>
            {% else %}
                <h1 class="main__title">Рецепты</h1>
                {% include 'tags_filter.html' %}
        </div>
                {% include 'recipe_item.html' %}
                {%  if page.paginator.num_pages > 1 %}
                    {%  include "pagination.html" %}
                {% endif %}
            {% endif %}
    </main>
  <script src="{% static 'recipes/js/components/MainCards.js' %}"></script>
  <script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
  <script src="{% static 'recipes/js/components/Favorites.js' %}"></script>
  <script src="{% static 'recipes/js/config/config.js' %}"></script>
  <script src="{% static 'recipes/js/components/CardList.js' %}"></script>
  <script src="{% static 'recipes/js/components/Header.js' %}"></script>
  <script src="{% static 'recipes/js/api/Api.js' %}"></script>
  <script src="{% static 'recipes/js/index.js' %}"></script>
</body>
{% endblock %}