{% extends "base.html" %}
{% block title %} Рецепты {{ author.username }} {% endblock %}
{% load static %}
{% load user_filters %}
{% block style %}
    <link rel="stylesheet"
          href="{% static 'recipes/pages/index.css' %}"/>{% endblock %}
{% block content %}
    {% csrf_token %}
    <body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ author.username }}</h1>
            {% include 'tags_filter.html' %}
        </div>
        {% if user.is_authenticated and user.username != author.username %}
            <div class="author-subscribe" data-author={{ author.pk }}>
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" {% if following %}>Отписаться от автора{% else %}data-out >Подписаться на автора{% endif %}</button></p>
            </div>
        {% endif %}
        {% include 'recipe_item.html' %}
        {% if page.paginator.num_pages > 1 %}
            {% include "pagination.html" %}
        {% endif %}
    </main>
    <script src="{% static 'recipes/js/components/MainCards.js' %}"></script>
    <script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
    <script src="{% static 'recipes/js/components/Favorites.js' %}"></script>
    <script src="{% static 'recipes/js/components/CardList.js' %}"></script>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>
    <script src="{% static 'recipes/js/components/Subscribe.js' %}"></script>
    <script src="{% static 'recipes/js/components/Profile.js' %}"></script>
    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/api/Api.js' %}"></script>
    <script src="{% static 'recipes/js/profile.js' %}"></script>
    </body>
{% endblock %}