{% load static %}
{% load thumbnail %}
<div class="card-list">
    {% for recipe in page %}
    <div class="card" data-id="{{recipe.pk}}">
        {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.slug %}" class="link" target="_blank"><img src="{{ im.url }}"alt="Картинка рецепта" class="card__image"></a>
        {% endthumbnail %}
        <div class="card__body">
            <a class="card__title link" href="{% url 'recipe' recipe.slug %}" target="_blank">{{ recipe.title }}</a>
            <ul class="card__items">
                {% for tag in recipe.tags.all %}
                    {% if tag.name == 'Обед' %}
                        <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                    {% elif tag.name == 'Завтрак' %}
                        <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                    {% elif tag.name == 'Ужин' %}
                        <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}?breakfast=True&lunch=True&dinner=True" style="color: black">{{ recipe.author.username }}</a></p>
            </div>
        </div>
        <div class="card__footer">
            {% if user.is_authenticated %}
                <button class="button button_style_light-blue{% if recipe in purchases_recipes  %}-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен{% else %}" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки{% endif %}</button>

                <button class="button button_style_none" name="favorites" {% if recipe in favorites_recipes  %}><span class="icon-favorite icon-favorite_active">{% else %}data-out><span class="icon-favorite">{% endif %}</span></button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>