{% extends "base.html" %}
{% block title %} Список покупок {% endblock %}
{% load static %}
{% load thumbnail %}
{% load user_filters %}
{% block style %}
    <link rel="stylesheet"
          href="{% static 'recipes/pages/shopList.css' %}"/>{% endblock %}
{% block content %}
    {% csrf_token %}
    <body class="body">
    <main class="main container">
    {% if purchases %}
        <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
        </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for purchase in purchases %}
                <li class="shopping-list__item" data-id="{{purchase.recipe.pk}}">
                    <div class="recipe recipe_reverse">
                        <a href="{% url 'recipe' purchase.recipe.slug %}" class="recipe__image recipe__image_big" target="_blank">
                            {% thumbnail purchase.recipe.image "480x480" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="Картинка блюда" class="recipe__image recipe__image_big">
                            {% endthumbnail %}
                        </a>
                        <h3 class="recipe__title">{{purchase.recipe.title}}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{purchase.recipe.time}} мин.</p>
                    </div>
                    <form method="POST" action="{% url 'APIunpurchases' purchase.recipe.pk %}">
                    <a href="{% url 'purchases' %}" class="shopping-list__button link">Удалить</a>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'download' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
    {% else %}
        <div class="main__header">
        <h1 class="main__title">Список покупок пуст</h1>
        </div>
    {% endif %}
    </main>
    <script src="{% static 'recipes/js/components/Header.js' %}"></script>
    <script src="{% static 'recipes/js/components/ShopList.js' %}"></script>
    <script src="{% static 'recipes/js/config/config.js' %}"></script>
    <script src="{% static 'recipes/js/api/Api.js' %}"></script>
    <script src="{% static 'recipes/js/shopList.js' %}"></script>
    </body>
{% endblock %}




